<!-- Start service -->
<section
  id="layanan"
  class="services section min-vh-100 d-flex flex-column justify-content-center"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <h2>Layanan</h2>
          <img
            src="{{ url_for('static', filename='img/section-img.png') }}"
            alt="#"
            class="py-3"
          />
          <p>
            Aplikasi kami memberikan klasifikasi kualitas udara yang akurat,
            membantu Anda memantau dan menjaga kesehatan Anda. Dengan teknologi
            mutakhir, kami hadir untuk memberikan informasi yang Anda butuhkan,
            kapan pun dan di mana pun. Jelajahi klasifikasi terkini dan jadikan
            langkah awal untuk hidup lebih sehat.
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-5 justify-content-center d-flex">
      <div class="col-md-6">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="icofont icofont-dashboard-web"></i>
          <h4><a href="#prediksi">Klasifikasi Kualitas Udara</a></h4>
          <p class="text-justify">
            Klasifikasi Kualitas Udara kami memberikan informasi terkini tentang
            tingkat polutan udara di sekitar Anda. Dengan akurasi tinggi dan
            notifikasi instan, Anda dapat mengambil tindakan untuk menjaga
            kesehatan pernapasan Anda. Tetap sehat, tetap waspada dengan layanan
            kami.
          </p>
        </div>
        <!-- End Single Service -->
      </div>
    </div>
  </div>
</section>
<!--/ End service -->
