<!-- Slider Area -->
<section class="slider">
    <div class="hero-slider">
        
        <!-- Start Single Slider -->
        <div class="single-slider min-vh-100 d-flex flex-column justify-content-center" style="background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0.9) 0%, rgba(252,252,252,0.39539565826330536) 67%, rgba(0,212,255,0) 100%), url('{{ url_for("static", filename='img/langit1.jpeg') }}'); background-repeat: no-repeat; background-position: center; background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            <h1><span>Udara</span> Sehat, Indonesia Ceria Pemantauan Kualitas <span>Udara</span> Real-time untuk Hidup Lebih <span>Berkualitas! </span></h1>
                            <div class="button">
                                <a href="#prediksi" class="btn">Get Started</a>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- End Single Slider -->
        <!-- Start Single Slider -->
        <div class="single-slider min-vh-100 d-flex flex-column justify-content-center" style= "background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0.9) 0%, rgba(252,252,252,0.39539565826330536) 67%, rgba(0,212,255,0) 100%), url('{{ url_for("static", filename='img/langit2.jpg') }}'); background-repeat: no-repeat; background-position: center; background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            <h1>Nafas Segar, Indonesia Bahagia: Kualitas <span>Udara</span> Terjaga, Hidup Semakin <span>Bercahaya!</span></h1>
                            <div class="button">
                                <a href="#prediksi" class="btn">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start End Slider -->
        
        <!-- Start Single Slider -->
        <div class="single-slider min-vh-100 d-flex flex-column justify-content-center" style="background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0.9) 0%, rgba(252,252,252,0.39539565826330536) 67%, rgba(0,212,255,0) 100%), url('{{ url_for("static", filename='img/langit3.jpg') }}'); background-repeat: no-repeat; background-position: center; background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            <h1>Pulihkan <span>Udara</span>, Kejayaan Indonesia: Pemantauan Kualitas <span>Udara</span>  Menyegarkan <span>Hidupmu!</span></h1>
                            <div class="button">                        
                                <a href="#prediksi" class="btn">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slider -->
    </div>
</section>
<!--/ End Slider Area -->