<!-- Start Why choose -->
<section id="tentang" class="section_tentang min-vh-100 py-5 mt-5">
  <div class="container mt-5">
    <div class="row mb-5">
      <div class="col-lg-12">
        <div class="text-center">
          <h2>Tentang</h2>
          <img
            src="{{ url_for('static', filename='img/section-img.png') }}"
            alt="#"
            class="py-3"
          />
          <p>
            IndoAir Quality Classifier (IAQC) adalah aplikasi inovatif yang
            dirancang untuk membantu pengguna memantau dan memklasifikasi
            kualitas udara di sekitar mereka. Dengan menggunakan data sensor
            udara dan teknologi klasifikasi canggih, IndoAir Quality Classifier
            (IAQC) memberikan informasi real-time tentang tingkat polusi udara,
            membantu pengguna membuat keputusan yang lebih baik terkait
            kesehatan dan aktivitas outdoor.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-12">
        <!-- Start Choose Left -->
        <div class="choose-left">
          <h3 class="py-3">Visi</h3>
          <p class="text-justify">
            Menjadi pelopor dalam memberikan informasi kualitas udara yang
            akurat dan dapat diandalkan, mendorong kesadaran lingkungan, dan
            memberdayakan individu untuk membuat keputusan yang sehat dan
            berkelanjutan.
          </p>
        </div>
        <!-- End Choose Left -->
      </div>
      <div class="col-lg-6 col-12">
        <!-- Start Choose Rights -->
        <div class="choose-right">
          <h3 class="py-3">Misi</h3>
          <p class="text-justify">
            Aplikasi ini bertujuan untuk menyediakan klasifikasi kualitas udara
            yang akurat dan dapat diandalkan kepada pengguna. Fokus utama kami
            adalah memberikan informasi yang jelas dan mudah dimengerti mengenai
            kondisi udara di sekitar mereka. Dengan demikian, pengguna dapat
            membuat keputusan yang lebih baik terkait aktivitas sehari-hari
            mereka, terutama yang berkaitan dengan paparan udara. Meskipun tidak
            memberikan rekomendasi kesehatan secara langsung, kami berharap
            aplikasi ini dapat menjadi alat yang berguna bagi individu dan
            komunitas untuk meningkatkan kesadaran tentang lingkungan sekitar
            mereka dan mengambil langkah-langkah yang diperlukan untuk
            melindungi kesehatan mereka.
          </p>
        </div>
        <!-- End Choose Rights -->
      </div>
    </div>
  </div>
</section>
<!--/ End Why choose -->
