<section id="tim" class="wow fadeInUp min-vh-100 d-flex flex-column justify-content-center">
    <div class="container">
        <div class="text-center mb-5">
            <h2>Tim</h2>
            <img class="py-3" src="{{ url_for('static', filename='img/section-img.png') }}" alt="#">
            <p>Kami adalah tim yang bersemangat dan berkomitmen untuk memberikan solusi inovatif dalam pemantauan kualitas udara. Dengan keahlian yang beragam, setiap anggota tim kami membawa kontribusi unik mereka untuk menciptakan aplikasi klasifikasi kualitas udara yang andal. Bersatu sebagai satu, kami berupaya menciptakan lingkungan yang lebih sehat dan peduli terhadap kesejahteraan masyarakat.</p>
        </div>
        <div class="row mt-5 text-center justify-content-center d-flex">
        <div class="col-md-4">
          <div class="member">
            <div class="pic"><img class="rounded-circle w-75" src="{{ url_for('static', filename='img/author1.jpg') }}" alt=""></div>
            <div class="details mt-3">
              <h4>Fadil Febriansyah</h4>
              <span>Universitas Logistik dan Bisnis Internasional</span>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="member">
            <div class="pic"><img class="rounded-circle w-75" src="{{ url_for('static', filename='img/author1.jpg') }}" alt=""></div>
            <div class="details mt-3">
              <h4>Nisa Hanum Maharani</h4>
              <span>Universitas Logistik dan Bisnis Internasional</span>
            </div>
          </div>
        </div>
        </div>    
    </div>
  </section><!-- #team 